# -------- ENTORNO GENERAL --------
# Recomendamos pasar estas variables 
# directo a "Variables del sistema" de Windows

# Token generado para los end points /media/{action}
MEDIA_API_TOKEN=Token_generado
# Interfaz donde aceptara conexiones
SELF_API_IP=192.168.0.0


# -------- ENTORNO DE DESARROLLO --------

# Para activar o desactivar el "hot reload" de los paneles html
DEBUG=false